.bookmark-btn {
  margin: 0 0.2rem;
  font-size: 0.8rem;
  color: #000;
  border: 0.1rem solid #ccc;
  position: relative;
  display: flex;
  gap: 0.2rem;
}

.bookmark-indicator {
  background-color: #777;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.1rem 0.2rem;
  border-radius: 50%;
}
